.map-div {
    height: 500px;
    width: 800px;
    -webkit-user-select: none;
    background-color: white;
}

#map-parameter label {
    width: 116px;
    display: inline-block;
}

#map-parameter > div {
    margin-bottom: 5px;
}

#Apply {
    margin-bottom: 10px;
}
